@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Minha integração com twitter</title>
        <link href="Estilos.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Integração com Twitter - Git + Windows Azure Web Sites</h1>
        <div id="Geral">
            <div id="Esquerda">
                Esta é uma integração de Twitter simples, com WebMatrix
                xará e deploy com Git no Windows Azure.
            </div>
            <div id="Direita">@TwitterGoodies.Search("@Cleittaums", 385, 500, "Meus tweets")</div>
        </div>
    </body>
</html>
